<!DOCTYPE html>
<html>
<head>
  <title>Rosetta Code Interactive</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="/css/jquery.dataTables.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/jquery.dataTables.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/#">Rosetta Code Interactive</a>
        <ul class="nav">
          <li class="active"><a href="/#intro">Intro</a></li>
          <li><a href="/#matrix">Matrix</a></li>
          <li><a href="/#code">Code</a></li>
        </ul>
      </div>
    </div>    
    <%=yield%> <br/>
  </div>
</body>
</html>
